/*
 * Copyright 2011, Cloudwords, Inc.
 *
 * Licensed under the API LICENSE AGREEMENT, Version 1.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.cloudwords.com/developers/license-1.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/**
 * Custom styles and layout
 * 
 * @author Douglas Kim <doug@cloudwords.com>
 * @since 1.0
 */
 
.center { text-align: center; }
.left { clear: both; float: left; width: 100%; }

.row { clear: both; float: left; margin: 0 0 5px 0; }
.row-label { font-weight: bold; margin: 0 5px 0 0; }
.row-value { }

.container { clear: both; float: left; }
.container .row { width: 760px; }

.fieldset-title { font-weight: bold; font-size: 14px; }

.column { float: left; width: 380px; }
.column .row { width: 380px; }

.messages.custom { border: 0px; padding: 0; margin: 20px 0 0 0; }
.message-custom { border: 1px solid grey; background-color: #F3E2A9; padding: 5px 10px; }

.form-header { border-bottom: 1px solid grey; font-weight: bold; font-size: 14px; margin: 10px 0 10px 10px; padding: 5px; }
.section-header { font-weight: bold; font-size: 14px; margin: 0 0 10px 0; padding: 10px 0 0 4px; }
